/* -------------------
----------------------
       GENERAL
----------------------
------------------- */

body, html{
    margin: 0;
    padding: 0;
    background-color: grey;
}


h1{
  color: red;
}

.center{
    text-align: center;
}
.clear{
    clear: both;
}


/* header */
header{
    background-color: red;
}

.menu2{
    float: right;
}

/* mainBlock */

.mainBlock{
    width: 70%;
    background-color: #fff;
    margin: 70px auto;


}

.pub{

    background-color: yellow;


}

.Block1{

    background-color: green;

}

.test{
    background-color: pink;
    float: right;

    padding: 70px ;
}


/* footer */
footer{
    background-color: blue;
}
